{% extends 'base.html' %} {% block body %}
<div class="container my-5 p-3" style="border: 1px solid black; border-radius: 25px; box-shadow: 2px 2px 4px 1px rgb(35, 35, 35);">
    <h2 class="my-2" style="text-align: center;">Add an {{name}}</h2>
    <form action="/addAssignment/{{path_sub_id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">{{name}} Title</label>
            <input type="text" class="form-control" name="assignment_title" id="assignment_title" placeholder="Enter {{name}} title" required>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Pdf Upload:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="assignment_pdf" id="customFile" multiple="multiple">
                <label class="custom-file-label">Choose file</label>
            </div>
        </div>
        {% if name == "Assignment" %}
        <div class="" style="display: none;">
            <input type="text" name="assignment_type" value = "Asi">
        </div>
        {% else %}
        <div class="" style="display: none;">
            <input type="text" name="assignment_type" value = "Ass">
        </div>
        {% endif %}
        <div style="text-align: center;">
            <button type="button" class="btn btn-danger mt-2" id="cancel"><a
                    href="/subject/{{path_sub_id}}">Cancel</a></button>
            <button type="submit" class="btn btn-success mt-2" id="submit">Add {{name}}</button>
        </div>
    </form>
</div>
{% endblock %}