{% extends "base.html" %} {% block body %}
<!-- ClassRooms queued -->

<div class="container my-3">
    <div class="row my-2">
        <h1>Dashboard</h1>
    </div>
    <div class="row my-2">
        {% for subject in subjects %}
        <div class="card col-3 mx-2" style="width: 18rem; padding-left: 20px;">
            <img class="card-img-top" src="../static/images/maths.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ subject.subject_name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Enter Class</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}