{% extends "base.html" %} {% block body %}
<!-- ClassRooms queued -->

<div class="container my-3">
    <div class="row my-2">
        <div class="col-3">
            <h1>Dashboard</h1>
        </div>
        <div class="col"></div>
        {% if user_type == "teacher" %}
        <div class="col-2">
            <button class="btn btn-success my-1"><a href="/addSubject">Add a Subject</a></button>
        </div>
        {% endif %}
        {% if user_type == "student" %}
        <div class="col-2">
            <button class="btn btn-success my-1"><a href="/joinClass">Join a Class</a></button>
        </div>
        {% endif %}
    </div>
    <div class="row my-4">
        {% if subjects|length == 0 %}
        <div class="col my-5">
            <h2 style="text-align: center;">You dont have any classrooms</h2>
        </div>
        {% else %} {% for subject in subjects %}
        <div class="col-4 my-2">
            <div class="card" style="width: inherit; box-shadow: 10px 10px 4px 4px grey;">
                <img class="card-img-top" src="/media/{{subject.picture}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ subject.subject_name }}</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.
                    </p>
                    <div class="text-center">
                        <a href="/subject/{{ subject.subject_id }}" class="btn btn-primary">Enter Class</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>

{% endblock %}