{% extends 'base.html' %}
{% block body %}
    <div class="container my-5 p-2"  style="border: 1px solid black; border-radius: 25px; box-shadow: 2px 2px 4px 1px rgb(35, 35, 35);">
        <!-- {% if message != "" %} 
            {% if alert_type == danger %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endif %}
        {% endif %} -->
        
        <h2 class="my-2" style="text-align: center;">Join a Class</h2>    
        <form action="/joinClass" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Enroll ID:</label>
            <input type="text" class="form-control" name="enroll_id" id="enroll_id" placeholder="Enter Enroll Id" required>
        </div>

        <div style="text-align: center;">
            <button type="button" class="btn btn-danger mt-2" id="cancel"><a href="/">Cancel</a></button>
            <button type="submit" class="btn btn-success mt-2" id="submit">Join Class</button>
        </div>
        </form>
    </div>
{% endblock %}